################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/Payload_Type/Athena/mythic/.idea
/.vs/ProjectSettings.json
/.vs
/Payload_Type/athena/mythic/agent_functions/.idea
/documentation-payload/Athena/.idea
